.titel {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.table {
    background: #2c2c2c;
    color: white;
}

.table-head {
    background: #383838;
}

.add-data {
    text-align: right;
}

.add-button {
    border: none;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin-bottom: 50px;
}

.input-text {
    color: black;
    width: 150px;
}

.icon-button {
    background: none;
    border: none;
}

.buttonAdd {
    color: #2c2c2c;
}

.modal-footer {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.cancel-modal-button {
    background: red;
}

.submit-modal-button {
    background: green;
}

.label-color {
    color: #2c2c2c;
}