@model List<projekt.Models.Zugskompositionen>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


<link rel="stylesheet" href="../Content/style.css">

@{
    ViewBag.Title = "Benutzerverwaltung";
}
<h2>@ViewBag.Title</h2>

<div class="content">
    <div class="user-requests">
        <h4 class="text-center">Anfragen</h4>
        <table class="table">
            <tr class="table-head">
                <th>Name</th>
                <th>Vorname</th>
                <th>Email</th>
                <th></th>
            </tr>
            <tr>
                <td>mustermann</td>
                <td>max</td>
                <td>max@mustermann</td>
                <td class="text-center">
                    <button type="button" class="btn btn-secondary cancel-modal-button" data-dismiss="modal">Ablehnen</button>
                    <button type="button" class="btn btn-secondary submit-modal-button">Annehmen</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="accepted-users">
        <h4 class="text-center">Benutzer</h4>
        <table class="table">
            <tr class="table-head">
                <th>Name</th>
                <th>Vorname</th>
                <th>Email</th>
                <th></th>
            </tr>
            <tr>
                <td>mustermann</td>
                <td>max</td>
                <td>max@mustermann</td>
                <td>
                    <button type="button" class="btn btn-secondary cancel-modal-button openDeleteModalButton" data-dismiss="modal">Löschen</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- Delete Content Modal -->
    <div class="modal fade" id="deleteContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Zugskomposition löschen</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Diesen Datensatz löschen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel-modal-button" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-secondary submit-modal-button deleteItem" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.openDeleteModalButton').click(function () {
            Id = $(this).data('id');
            $('#deleteContentModal').modal('show');
        });

        $('.deleteItem').click(function () {
            document.getElementById(Id).setAttribute('hidden', "");
        });
    });
    
</script>