@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body
    <div>
        <h1>Profil</h1>

        <div class="user-data">
            <p>Benutzername: "username"</p>
            <p>E-Mail: "email"</p>
        </div>

        <div class="profile-buttons">
            <button type="button" class="btn btn-secondary">Bearbeiten</button>
            <button type="button" class="btn btn-secondary">Logout</button>
        </div>
    </div>
    
   
</body>
</html>
